.cardItem {
    width: 250px;
    height: 350px;
    color: #fff;
    position: relative;
    margin-bottom: 50px;
}

.imgBackground {
    width: 100%;
    height: 100%;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.562); 
}

.cardStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 0;
    min-width: 50%;
    height: 30px;
    background-color: aqua;
}

.characterLive {
    background-color: #29773E;
}

.characterDead {
    background-color: #fa7821;
}

.cardInfo {
    position: absolute;
    margin: 5px;
    bottom: 10px;
}

.labelIcon{
    position: relative;
    display: flex;
  }