@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h2{
  color: #FFF;
}

.App {
  background-color: #000;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 80px 20px 80px;
  overflow-x: hidden;
}

.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  max-width: 150px;
  height: auto;
}

.cardContainer{
  margin-top: 50px;
}

.cardContainer h2{
  margin-bottom: 20px;
}

.cardGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: stretch;
}